.env
docs/temp/
docs/colab_success.py
__pyca# Exclude output directory

# Exclude uploaded files (temp)
static/uploads/
sample_image/
docs/antigravity-workflow-ppt-main
output/
test/
logs/
logs/execution_log.txt
.agent/
.agent/agent.log
pdf2pptx_cloudfare_pages_distribution/